/*全体設定*/
li {
    list-style: none;
    border: none;
    font-weight: bold;
    color: rgb(0, 39, 126);;
}

a {
    text-decoration: none;
    color: black;
}
p{
    font-size: 25px;
    color: rgb(0, 39, 126);;
    font-weight: bold;
}

/*ヘッダー設定*/
.header-wrap{
    margin-top: 20px;
}
.header-container {
   display: flex;
   justify-content: space-between;
}
.header-left p{
width: 30%;
margin-left: 10%;
}
.header-list {
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.img{
    height: 380px;
    margin-top: 10%;
    position: relative;  
}
img{
    width: 50%;
    position: absolute;
    right: 0px;
}

.img-word{
    font-size:50px;
   
}

.box{
    height: 150px;
    background: rgb(0, 39, 126);
    width: 60%;
}